<nav class="h-20">
    <div class="left-side">
        <h3 class="text-xl">HireTrack</h3>
        <p>Welcome, {{ user }}!</p>
    </div>
    <div class="right-side">
        <button class="m-4" [routerLink]="['/upload-resume']">
            <span class="material-symbols-rounded">cloud_upload</span>
            Upload Resume
        </button>
        <button (click)="logout()">
            <span class="material-symbols-rounded">logout</span>
            Logout
        </button>
    </div>
</nav>