@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --color-surface-base: #f8fafc;
  --color-surface-nest: #f1f5f9;
  --color-interactive-card: #ffffff;
  /* --color-primary-accent: #6E1A37;
  --color-soft-callout: #fee2e2; */
  --color-primary-accent: #021A54;
  --color-secondary: #dbeafe;
  --color-soft-callout: #1D4ED8;
  --radius-large: 1rem;
  --radius-xl: 1.5rem;
}

@layer base {
  * {
    font-family: "Poppins", sans-serif;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
  }

  a:hover {
    color: var(--color-soft-callout);
  }

  button {
    cursor: pointer;
    color: var(--color-interactive-card);
    background-color: var(--color-primary-accent);
    padding: 8px 16px;
    border: none;
    border-radius: var(--radius-large);
    transition: 0.3s ease;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #1e293b;
  }

  body {
    background-color: var(--color-surface-base);
    color: #334155;
  }

  :disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.error {
  color: red;
}

.primary-accent {
  color: var(--color-primary-accent);
  font-weight: 500;
}