.stats-bar {
    background-color: var(--color-secondary);
    margin-bottom: 20px;
    border-radius: 12px;
}

.stats-bar .stats {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 20px;

}

.stats-bar .stats p {
    padding: 3px 12px;
    border-radius: 8px;
    background-color: var(--color-surface-nest);
}

.stats-inner-span {

    padding: 0 5px;
    border-radius: 8px;
}