<div class="dashboard">
    <div class="header">
        <app-search-bar (searchResults)="onSearch($event)" />

        <div class="create-job">
            <button [routerLink]="['/add']">Create Job</button>
        </div>
    </div>

    <app-stats-bar [statsBarData]="statsBar()!" />

    @if (jobList()) {
    <div class="jobs">
        <div class="wishlist category">
            <p class="category-title">Wishlist</p>
            @if (jobCategory()?.wishlist?.length != 0) {
            @for (job of jobCategory()?.wishlist; track $index) {
            <app-hover-accordion [jobDetails]="job" (deleteJobEvent)="deleteJobFromList($event)" />
            }
            }
            @else {
            <p>No data</p>
            }
        </div>
        <div class="applied category">
            <p class="category-title">Applied</p>
            @if (jobCategory()?.applied?.length != 0) {
            @for (job of jobCategory()?.applied; track $index) {
            <app-hover-accordion [jobDetails]="job" (deleteJobEvent)="deleteJobFromList($event)" />
            }
            }
            @else {
            <p>No data</p>
            }
        </div>
        <div class="interview category">
            <p class="category-title">Interview</p>
            @if (jobCategory()?.interview?.length != 0) {
            @for (job of jobCategory()?.interview; track $index) {
            <app-hover-accordion [jobDetails]="job" (deleteJobEvent)="deleteJobFromList($event)" />
            }
            }
            @else {
            <p>No data</p>
            }

        </div>
        <div class="offer category">
            <p class="category-title">Offer</p>
            @if (jobCategory()?.offer?.length != 0) {
            @for (job of jobCategory()?.offer; track $index) {
            <app-hover-accordion [jobDetails]="job" (deleteJobEvent)="deleteJobFromList($event)" />

            }
            }
            @else {
            <p>No data</p>
            }
        </div>

    </div>
    }
    @else {
    <div class="jobs">
        <app-spinner/>
    </div>
    }
</div>