<div class="dashboard">
    <div class="header">
        <app-search-bar (searchResults)="onSearch($event)" />

        <div class="create-job">
            <button [routerLink]="['/add']">Create Job</button>
        </div>
    </div>

    <app-stats-bar [statsBarData]="statsBar()!" />

    @if (jobList()) {
    <div class="jobs">
        <div class="wishlist category" cdkDropList id="wishlistList" [cdkDropListData]="jobCategory().wishlist || []"
            [cdkDropListConnectedTo]="['appliedList','interviewList','offerList']"
            (cdkDropListDropped)="drop($event, 'wishlist')">

            <p class="category-title">Wishlist</p>
            
            @for (job of jobCategory().wishlist; track $index) {
            <div>
                <app-hover-accordion cdkDrag [cdkDragData]="job" [jobDetails]="job"
                    (deleteJobEvent)="deleteJobFromList($event)" />
            </div>
            }
            @empty {
            <div class="flex min-h-30 mt-10 flex-col items-center justify-center rounded-xl border-2 border-dashed border-slate-300 bg-slate-50/60 p-6 text-center">
                
                <p class="text-sm font-semibold text-slate-700">No jobs in this column</p>
                <p class="mt-1 text-xs text-slate-500">Add a job to get started</p>
            </div>
            }
        </div>


        <div class="applied category" cdkDropList id="appliedList" [cdkDropListData]="jobCategory().applied || []"
            [cdkDropListConnectedTo]="['wishlistList','interviewList','offerList']"
            (cdkDropListDropped)="drop($event, 'applied')">

            <p class="category-title">Applied</p>

            @for (job of jobCategory().applied; track $index) {
            <div cdkDrag [cdkDragData]="job">
                <app-hover-accordion [jobDetails]="job" (deleteJobEvent)="deleteJobFromList($event)" />
            </div>
            }
            @empty {
                <div class="flex min-h-30 mt-10 flex-col items-center justify-center rounded-xl border-2 border-dashed border-slate-300 bg-slate-50/60 p-6 text-center">
                
                <p class="text-sm font-semibold text-slate-700">No jobs in this column</p>
                <p class="mt-1 text-xs text-slate-500">Add a job to get started</p>
            </div>
            }


        </div>

        <div class="interview category" cdkDropList id="interviewList" [cdkDropListData]="jobCategory().interview || []"
            [cdkDropListConnectedTo]="['wishlistList','appliedList','offerList']"
            (cdkDropListDropped)="drop($event, 'interview')">
            <p class="category-title">Interview</p>

            @for (job of jobCategory().interview; track $index) {
            <div cdkDrag [cdkDragData]="job">
                <app-hover-accordion [jobDetails]="job" (deleteJobEvent)="deleteJobFromList($event)" />
            </div>
            }
            @empty {
                <div class="flex min-h-30 mt-10 flex-col items-center justify-center rounded-xl border-2 border-dashed border-slate-300 bg-slate-50/60 p-6 text-center">
                
                <p class="text-sm font-semibold text-slate-700">No jobs in this column</p>
                <p class="mt-1 text-xs text-slate-500">Add a job to get started</p>
            </div>
            }

        </div>
        <div class="offer category" cdkDropList id="offerList" [cdkDropListData]="jobCategory().offer || []"
            [cdkDropListConnectedTo]="['wishlistList','appliedList','interviewList']"
            (cdkDropListDropped)="drop($event, 'offer')">
            <p class="category-title">Offer</p>

            @for (job of jobCategory().offer; track $index) {
            <div cdkDrag [cdkDragData]="job">
                <app-hover-accordion [jobDetails]="job" (deleteJobEvent)="deleteJobFromList($event)" />
            </div>
            }
            @empty {
            <div class="flex min-h-30 mt-10 flex-col items-center justify-center rounded-xl border-2 border-dashed border-slate-300 bg-slate-50/60 p-6 text-center">
                
                <p class="text-sm font-semibold text-slate-700">No jobs in this column</p>
                <p class="mt-1 text-xs text-slate-500">Add a job to get started</p>
            </div>
            }
        </div>

    </div>
    }
    @else {
    <div class="jobs">
        @if (isLoading()) {
        <app-spinner />
        }
        @else {
        <p>No Data</p>
        }
    </div>
    }
</div>